/718 Client/out/
/718 Server/out/
/718 Server/data/spawncharacters/
/718 Server/data/spawncharactersBackup/
/718 Server/data/cache/
/718 Server/data/spawncharacters/
/718 Server/data/spawncharactersBackup/
/718 Server/data/iplog/